[user]
    email = {{ git_global_config_user_email }}
    name = {{ git_global_config_user_name }}

[core]
    editor = {{ git_global_config_core_editor }}
    autocrlf = {{ git_global_config_core_autocrlf }}

[branch]
    autosetuprebase = {{ git_global_config_branch_autosetuprebase }}
