#!/bin/sh

# Executable shell
# A wrapper script for invoking container binaries with docker
# Put this script in your $PATH using name of script

error(){
  error_code=$1
  echo "ERROR: $2" >&2
  echo "(Error Code: $error_code )" &>2
  exit $1
}

assert_command(){
  command=$1
  which $command > /dev/null 2>&1 || error 1 "$command not found!"
}

assert_command docker

exec docker run {{ item.opts }} {{ item.image }} "$@"
