{
  "homepage": "http://www.google.com",
  "homepage_is_newtabpage": false,
  "browser": {
    "show_home_button": true
  },
  "session": {
    "restore_on_startup": 4,
    "startup_urls": [
      "http://www.google.com/ig"
    ]
  },
  "bookmark_bar": {
    "show_on_all_tabs": true
  },
  "sync_promo" : {
    "show_on_first_run_allowed" : false
  },
  "distribution": {
    "skip_first_run_ui": true,
    "import_bookmarks": false,
    "import_bookmarks_from_file": "/opt/google/chrome/bookmarks.html",
    "import_search_engine": true,
    "import_history": false,
    "create_all_shortcuts": true,
    "do_not_launch_chrome": true,
    "make_chrome_default": true,
    "make_chrome_default_for_user": true,
    "suppress_first_run_default_browser_prompt": true
  },
  "first_run_tabs": [
    "http://welcome_page"
  ]
}
